body {
    background: #232323; 
    margin: 0;
    font-family: "calibri";
}
.square {
    width: 30%;
    background:pink;
    padding-bottom: 30%;
    float:left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
}
#container {
    margin:20px auto; 
    max-width:600px;
}

#message {
    display: inline-block;
    width: 20%;
}
button {
    text-content: center;
    border: none;
    background:none;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.6s;
    outline: none;
}
h1 {
    text-align: center;
    color: white;
    background: steelblue;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}
span {
    color: #232323;
}
#navbar {
    background: white;
    height: 30px;
    text-align: center;
}
.selected {
    color:white;
    background: steelblue;
}
h1 span {
    color: white;
    font-size: 200%;
}
button:hover {
    color:white;
    background: steelblue;
}